
/* ============<!-- VARIABLES -->====== */
:root{ 
    --brand-color: #2E2F42;  /* background, main txt*/
    --brand-bright-color: #4D5AE5;  /*logo, filter txt*/
    --light-bg: #F4F4FD;  /*light background for section and  filter buttons*/
    --content-txt-color: #434455;  /* content text color*/
    --focus-btn-color: #404BBF;   /* focus button color*/
    --logo-font: 'Raleway', sans-serif;
    --main-font: 'Roboto', sans-serif;
    --body-color: #FFFFFF;
}
/* ============<!-- /VARIABLES -->====== */
*{
    box-sizing: border-box;
}
h1,
h2,
h3,
p{
    margin-top: 0;
    margin-bottom: 0;
}
ul,
ol{
   padding-left: 0;
    margin-top: 0;
    margin-bottom: 0; 
}
img{
    display: block;
}

.list{
    list-style: none;
    
}

.link{
    text-decoration: none;
}

body{
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    color:var(--content-txt-color);
    background-color: var(--body-color);
}

.portfolio-body{
    color: var(--content-txt-color);
}
.section{
    padding-top: 120px;
    padding-bottom: 120px;
   
}

.visually-hidden{
    position: absolute;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
  
/* ============<!-- COMPONENTS -->====== */
.container{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.suptitle{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11; 
    letter-spacing: 0.02em;
    margin-bottom: 72px;
    text-align: center;
    text-transform: capitalize;
    color: var(--brand-color);
}

.description{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--content-txt-color);
    text-align: center; 
}


.item-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--brand-color);
    margin-bottom: 8px;
    text-align: center;
}

.logo{
    font-family: var(--logo-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--brand-bright-color);
    margin-right: 76px;
}

.color-logo-part{
    color: var(--brand-color);
}

/* ============<!-- /COMPONENTS -->====== */

/* ============<!-- HEADER -->====== */

.page-header{
    padding-top: 24px;
    padding-bottom: 24px;
    /*width: 1128px;*/
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #E7E9FC;
}

.site-nav{
    display: flex;
    align-items: center;    
}
.site-nav .menu-item:not(:last-child){
    margin-right: 40px;
}
.site-nav .menu-item:last-child{
    margin-right: 0;
}

.menu-link{
    padding: 24px 0;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color);
}
.menu-link:hover,
.menu-link:focus{
    color: var(--focus-btn-color)
}

.contacts{
    font-style: normal;
    margin-left: auto;
}

.contacts-nav{
    display: flex;
    
}
.contacts-nav .contact-item:not(:last-child){
    margin-right: 40px;
}
.contacts-nav .contact-item:last-child{
    margin-right: 0px;
}
.tel{    
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--content-txt-color);
}
.tel:hover,
.tel:focus{
    color: var(--focus-btn-color)
}

/* ============<!-- /HEADER -->====== */

/* ============<!-- HERO -->====== */
.hero{
    background-color: var(--brand-color);
    padding-top: 188px;
    padding-bottom: 188px;
    padding-left: 0;
    padding-right: 0; 
    text-align: center;
     
}


.hero-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    color:var(--body-color);
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 59px;
    margin-left: auto;
    margin-right: auto;

   
}

.modal-btn{
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: var(--main-font);
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0.04em;
    border: none;
    background: var(--brand-bright-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 16px 32px;
    gap: 10px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.modal-btn:hover,
.modal-btn:focus{
    background: var(--focus-btn-color);
}
/* ============<!-- /HERO -->====== */



.card{
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.card-content{
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;

}
.card-content-nocentered{
    text-align: left;
}
/* ============<!-- TEAM -->====== */
.team{
    background-color: var(--light-bg);
    margin-left: auto;
    margin-right: auto;
}
.team-flex-element{
    width: 264px; /* calc((100%-72px)/4);*/
    margin-right: 24px;
    margin-bottom: 0;
}
.team-flex-element:last-child{
    margin-right: 0;
}

/* ============<!-- /TEAM -->====== */

/* ============<!-- FILTER -->====== */
.filter-flex-container{
    display: flex;
    justify-content: center;
    margin-top: 96px;
    margin-bottom: 72px;
}
.filter-btn{
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px; 
    color: var(--brand-bright-color);
    background: var(--light-bg);
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus{
    border: 1px solid transparent;
    color: #FFFFFF;
    background: var(--focus-btn-color);
}
.filter-flex-container .filter-btn-space:not(:last-child){
    margin-right: 24px;
}
/* ============<!-- /FILTER -->====== */

/* ============<!--PRODUCTS -->====== */

.portfilio-bg{
    background-color: var(--body-color);
    padding-top: 96px;
    padding-right: 0;
    padding-bottom: 120px;
    padding-left: 0;
}

.product-flex-container{
    display: flex;
    flex-wrap: wrap;
   
}
.product-flex-element{
    width: calc((100% - 48px)/3);
    border: 1px solid #E7E9FC;
    margin-right: 24px;
    margin-bottom: 48px;
    
}
.product-flex-element:nth-child(3n){
    margin-right: 0;
}
.product-flex-element:nth-last-child(-n+3){
    margin-bottom: 0;
}

.product-card-content{
    border: 1px solid #e7e9fc;
    border-top: none; 
}
/* ============<!-- /PRODUCTS -->====== */

/* ============<!-- FOOTER -->====== */
.footer-container{
    background-color: var(--brand-color);
    padding-top: 100px;
    padding-bottom: 100px;
}
.logo-footer{
    display: inline-block;
    margin-bottom: 16px;
}
.logo-footer-color{
    color: var(--light-bg);    
}
.txt-footer{
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}
/* ============<!-- /FOOTER -->====== */






